<form ng-submit="page4()" novalidate name="p4Form" enctype="multipart/form-data">
  <h3>If you have a Github account, please provide the link here.</h3>
  <h6>Example: https://github.com/alan-turing</h6>
  <div class="form-group" ng-class="{ 'has-success': p4Form.github.$valid && !p4Form.github.$pristine, 'has-error': p4Form.github.$invalid && !p4Form.github.$pristine}">
    <input type="url" name="github" class="form-control input-lg" ng-model="github">
    <div class="alert alert-danger" ng-show="p4Form.github.$invalid && p4Form.github.$touched">Please enter a valid url such as: https://github.com/alan-turing</div>
  </div>

  <h3>If you have a LinkedIn account, please provide the link here.</h3>
  <h6>Example: https://www.linkedin.com/in/alan-turing</h6>
  <div class="form-group" ng-class="{ 'has-success': p4Form.linkedin.$valid && !p4Form.linkedin.$pristine, 'has-error': p4Form.linkedin.$invalid && !p4Form.linkedin.$pristine}">
    <input type="url" name="linkedin" class="form-control input-lg" ng-model="linkedin">
    <div class="alert alert-danger" ng-show="p4Form.linkedin.$invalid && p4Form.linkedin.$touched">Please enter a valid url such as: https://www.linkedin.com/in/alan-turing</div>
  </div>

  <h3>If you have any other URL you would like us to consider along with your application, please enter it here.</h3>
  <h6>This could include an online portfolio, a website you've built, or even a short video you've created. <br>Example: https://www.alanturing.com/portfolio</h6>
  <div class="form-group" ng-class="{ 'has-success': p4Form.portfolio.$valid && !p4Form.portfolio.$pristine, 'has-error': p4Form.portfolio.$invalid && !p4Form.portfolio.$pristine}">
    <input type="url" name="portfolio" class="form-control input-lg" ng-model="portfolio">
    <div class="alert alert-danger" ng-show="p4Form.portfolio.$invalid && p4Form.portfolio.$touched">Please enter a valid url such as: https://www.alanturing.com/portfolio</div>
  </div>

  <h3>If you have a resume, please attach it here.</h3>
  <h6>While a resume is not required, the more information you can provide the better for our admissions team.<br>File Types: Microsoft Word (.doc) or .PDF</h6>
  <div class="form-group">
    <input type="file" name="file" class="form-control input-lg" ng-model="file" ngf-select accept="application/msword, application/pdf">
  </div>

  <h3>Acknowledgements:</h3>
  <ul>
    <li>Each student must supply their own Mac and charger. No Windows PCs please (see our <a href="http://digitalcrafts.com/faq.html" target="_blank">FAQ</a> for more on this policy).
    <li>For our Atlanta campus, we have limited parking at ATV.  Parking passes are $98/month and are first-come-first-served.  Overflow parking is available for $93/month in the garage next door (4 minute walk).  ATV will provide a $25/month reimbursement for anyone electing to take MARTA.</li>
    <li>If you intend to finance your tuition, you must submit a deposit and get approved for financing to officially secure your seat in class.</li></li>
  </ul>
  <h4>Do you understand and acknowledge the items above? *</h4>
  <div class="radio">
    <label><input type="radio" name="understand" value="yes" ng-model="understand" required>Yes</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="understand" value="no" ng-model="understand" required>No</label>
  </div>

  <h3>Very important:  While we will do everything in our power to help you achieve your professional goals quickly, persistence in the job market is ultimately up to you, and there are no guarantees in this world.  <strong>Are you comfortably able to make this level of financial and time commitment?</strong> *</h3>
  <p>We take this question very seriously.  If your goal is to launch a career as a developer, be prepared to put in tremendous time and effort both during and after our program.  A successful job search might take 3 weeks or it might take 6+ months.  The last thing we want to do is enroll a student who is not able to comfortably endure this reality.</p>
  <div class="radio">
    <label><input type="radio" name="effortagree" value="yes" ng-model="effortagree" required>Yes</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="effortagree" value="no" ng-model="effortagree" required>No</label>
  </div>

  <div class="alert alert-success" ng-show="saved">Your application has been saved.</div>

  <button type="button" class="btn btn-default" ng-click="page4('stay')">Save</button>
  <button type="submit" class="btn btn-primary" ng-disabled="p4Form.$invalid">Complete</button>
</form>
