<style>
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Open+Sans');
</style>
<form>
  <div style="font-family:'Josefin Sans'; font-size:40px; padding:20px 0px 0px">Application completed!</div>

  <div>
    <h4>Someone from DigitalCrafts will be in touch with you shortly.</h4>
    <p>In the meantime, please checkout <a href="http://www.digitalcrafts.com" target="_blank">DigitalCrafts</a> for more information.</p>
    <p>We also encourage students to complete as much of <a href="http://www.codecademy.com" target="_blank">CodeAcademy</a> and <a href="http://www.freecodecamp.com" target="_blank">freeCodeCamp</a> as possible!</p>
    <h4>Your next steps in the application process are the coding challenge and informal interview.</h4>
    <p>Please <a href="img/codechallenge.pdf" target="_blank">click here</a> to view more information about the code challenge before getting started. Once you are comfortable you can go ahead and get coding or schedule your informal interview!</p>
    <!-- <button style="font-family:'Josefin Sans'" type="button" class="skipBtn" ng-click="skipChallenge()">SKIP CODE CHALLENGE</button> -->
    <button style="font-family:'Josefin Sans'" type="button" class="challengeBtn" ng-click="codeChallenge()">START CODE CHALLENGE</button>
    <button style="font-family:'Josefin Sans'" type="button" class="skipBtn" ng-click="scheduleCalendy()">SCHEDULE INTERVIEW</button>

  </div>
</form>
